---
// HeaderOptimized.astro - Barre de navigation améliorée pour MACOBATE
const mainMenuItems = [
  {
    title: "Accueil",
    url: "/",
    hasSubmenu: false,
    showInMainOnly: false,
  },
  {
    title: "Qui sommes-nous",
    url: "/about",
    hasSubmenu: true,
    showInMainOnly: false,
    submenu: [
      { title: "Mot de la Direction", url: "/about#company-section" },
      { title: "Nos Points Forts", url: "/about#highlights-section" },
      { title: "Notre Histoire", url: "/about#history-section" },
      { title: "Nos Réalisations", url: "/about#achived-section" },
      //{ title: "Notre Équipe", url: "/about#team-section" },
      {
        title: "Services",
        url: "/services/allServices",
      },
    ],
  },
  {
    title: "Nos-Marques",
    url: "/our-brands",
    hasSubmenu: true,
    showInMainOnly: false,
    submenu: [
      {
        title: "ROBEX",
        url: "/our-brands/robex",
      },
      {
        title: "CRANEX",
        url: "/our-brands/cranex",
      },
      {
        title: "TANKO",
        url: "/our-brands/tano",
      },
      { title: "MWS", 
        url: "/our-brands/mws" },
      
    ],
  },
  {
    title: "Activités",
    url: "/services",
    hasSubmenu: true,
    showInMainOnly: false,
    submenu: [
      {
        title: "Charpente Métallique",
        url: "/services/detailServices#charpente-metallique",
      },
      {
        title: "Appareils à pression",
        url: "/services/detailServices#appareils-pression",
      },
      {
        title: "Réservoirs de Stockage",
        url: "/services/detailServices#reservoirs-stockage",
      },
      { title: "Équipements Hydromécaniques", 
        url: "/services/detailServices#equipements-hydromecaniques" },
      {
        title: "Traitement de l'eau",
        url: "/services/detailServices#traitement-eau",
      },
      {
        title: "Électricité & Automatismes",
        url: "/services/detailServices#electricite-automatismes",
      },
      {
    title: "Projets",
     
    url: "/projects/allProjects",
   
  },
    ],
  },
  
  // {
  //   title: "Produits",
  //   url: "/products",
  //   hasSubmenu: true,
  //   showInMainOnly: true,
  //   submenu: [
  //     {
  //       title: "Eau",
  //       url: "/products/eau",
  //       hasSubmenu: true,
  //       childSubmenu: [
  //         { title: "Vannes Segment", url: "/products/eau#vannes-segment" },
  //         { title: "Vannes Wagon", url: "/products/eau#vannes-wagon" },
  //         { title: "Batardeaux", url: "/products/eau#batardeaux" },
  //         { title: "Grilles", url: "/products/eau#grilles" },
  //       ],
  //     },
  //     {
  //       title: "Environnement",
  //       url: "/products/environnement",
  //       hasSubmenu: true,
  //       childSubmenu: [
  //         { title: "Dégrilleurs", url: "/products/environnement#degrilleurs" },
  //         { title: "Compacteurs", url: "/products/environnement#compacteurs" },
  //         {
  //           title: "Pont Racleur",
  //           url: "/products/environnement#pont-racleur",
  //         },
  //       ],
  //     },
  //     {
  //       title: "Industrie",
  //       url: "/products/industrie",
  //       hasSubmenu: true,
  //       childSubmenu: [
  //         { title: "Réservoirs", url: "/products/industrie#reservoirs" },
  //         { title: "Silos", url: "/products/industrie#silos" },
  //         { title: "Charpentes", url: "/products/industrie#charpentes" },
  //       ],
  //     },
  //   ],
  // }, 


  {
    title: "Actualités",
    url: "/blog/allBlog",
    hasSubmenu: false,
    showInMainOnly: true,
  },
  
  
  {
    title: "Contact",
    url: "/contact",
    hasSubmenu: false,
    showInMainOnly: true,
  },
];

// Filtrer les éléments pour le menu principal (exclure les éléments marqués showInMainOnly = true)
const mainMenuFiltered = mainMenuItems.filter((item) => !item.showInMainOnly);
---

<!-- En-tête Principal-->
<header class="main-header">
  <!-- Barre Supérieure -->
  <div class="header-top">
    <div class="auto-container">
      <div class="top-outer clearfix">
        <!--Section Gauche-->
        <div class="top-left">
          <ul class="links clearfix">
            <li>
              <a href="tel:+212537659646"
                ><span class="icon fa fa-phone"></span>+212 5 37 65 96 46</a
              >
            </li>
            <li>
              <a href="mailto:contact@macobate.com"
                ><span class="icon fa fa-envelope-o"
                ></span>contact@macobate.com</a
              >
            </li>
            <li>
              <a href="https://www.google.com/maps?q=34.021972,-6.836359"
                ><span class="icon flaticon-placeholder-2"></span>48, Zone
                Industrielle Takadoum, Rabat</a
              >
            </li>
          </ul>
        </div>

        <!--Section Droite-->
        <div class="top-right clearfix">
          <ul class="clearfix">
            <!--Langue-->
            <li class="language dropdown">
              <a
                class="btn btn-default dropdown-toggle"
                id="dropdownMenu2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                href="#"
                ><span class="flag-img"
                  ><img src="/images/icons/fr.gif" alt="Drapeau" /></span
                >Français &nbsp;<span class="fa fa-angle-down"></span></a
              >
              <ul
                class="dropdown-menu style-one"
                aria-labelledby="dropdownMenu2"
              >
                <li><a href="#">Français</a></li>
                <li><a href="#">Anglais</a></li>
                <li><a href="#">Arabe</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Barre Supérieure -->

  <!-- Boîte Principale -->
  <div class="main-box">
    <div class="auto-container">
      <div class="outer-container clearfix">
        <!--Boîte Logo-->
        <div class="logo-box">
          <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo MACOBATE" /></a>
          </div>
        </div>

        <!--Navigation Externe-->
        <div class="nav-outer clearfix">
          <!-- Menu Principal avec sous-menus améliorés -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Bouton Toggle -->
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                {/* Menu principal filtré - seulement 5 éléments */}
                {
                  mainMenuFiltered.map((item) => (
                    <li class={item.hasSubmenu ? "dropdown" : ""}>
                      <a href={item.url}>
                        {item.title}
                        {item.hasSubmenu && <span class="fa fa-angle-down" />}
                      </a>
                      {item.hasSubmenu && (
                        <ul>
                          {item.submenu.map((subItem) => (
                            <li class={subItem.hasSubmenu ? "dropdown" : ""}>
                              <a href={subItem.url}>
                                {subItem.title}
                                {subItem.hasSubmenu && (
                                  <span class="fa fa-angle-right" />
                                )}
                              </a>
                              {subItem.hasSubmenu && (
                                <ul>
                                  {subItem.childSubmenu.map((childItem) => (
                                    <li>
                                      <a href={childItem.url}>
                                        {childItem.title}
                                      </a>
                                    </li>
                                  ))}
                                </ul>
                              )}
                            </li>
                          ))}
                        </ul>
                      )}
                    </li>
                  ))
                }
              </ul>
            </div>
          </nav>
          <!-- Fin Menu Principal-->

          <!--Boîte Externe-->
          <div class="outer-box">
            <a
              href="#"
              class="theme-btn quote-btn"
              data-toggle="modal"
              data-target="#schedule-box"
              >Demander un devis<span class="icon"></span></a
            >
            <ul class="social-icon-one">
              <li><a href="https://www.facebook.com/macobate/#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <!--Fin Navigation Externe-->
      </div>
    </div>
  </div>

  <!--En-tête Fixe-->
  <div class="sticky-header">
    <div class="auto-container">
      <div class="outer-container clearfix">
        <!--Boîte Logo-->
        <div class="logo-box pull-left">
          <div class="logo">
            <a href="/"
              ><img src="/images/logo-small.png" alt="Logo MACOBATE" /></a
            >
          </div>
        </div>

        <!--Navigation Externe-->
        <div class="nav-outer clearfix">
          <!-- Menu Principal -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Bouton Toggle -->
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                {/* Menu complet - tous les éléments */}
                {
                  mainMenuItems.map((item) => (
                    <li class={item.hasSubmenu ? "dropdown" : ""}>
                      <a href={item.url}>
                        {item.title}
                        {item.hasSubmenu && <span class="fa fa-angle-down" />}
                      </a>
                      {item.hasSubmenu && (
                        <ul>
                          {item.submenu.map((subItem) => (
                            <li class={subItem.hasSubmenu ? "dropdown" : ""}>
                              <a href={subItem.url}>
                                {subItem.title}
                                {subItem.hasSubmenu && (
                                  <span class="fa fa-angle-right" />
                                )}
                              </a>
                              {subItem.hasSubmenu && (
                                <ul>
                                  {subItem.childSubmenu.map((childItem) => (
                                    <li>
                                      <a href={childItem.url}>
                                        {childItem.title}
                                      </a>
                                    </li>
                                  ))}
                                </ul>
                              )}
                            </li>
                          ))}
                        </ul>
                      )}
                    </li>
                  ))
                }
              </ul>
            </div>
          </nav>
          <!-- Fin Menu Principal-->
        </div>
        <!--Fin Navigation Externe-->
      </div>
    </div>
  </div>
  <!--Fin En-tête Fixe-->
</header>
<!--Fin En-tête Principal -->

<style>
  /* Styles pour les sous-menus améliorés */
  .main-menu .navigation > li > ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 230px;
    z-index: 100;
    display: none;
    background: #ffffff;
    border-top: 3px solid #206dd3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .main-menu .navigation > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-menu .navigation > li > ul > li:last-child {
    border-bottom: none;
  }

  .main-menu .navigation > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }

  .main-menu .navigation > li > ul > li:hover > a {
    background: #206dd3;
    color: #ffffff;
  }

  /* Sous-menus de niveau 3 */
  .main-menu .navigation > li > ul > li > ul {
    position: absolute;
    left: 100%;
    top: 0px;
    width: 230px;
    z-index: 100;
    display: none;
    background: #ffffff;
    border-top: 3px solid #206dd3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-menu .navigation > li > ul > li > ul > li:last-child {
    border-bottom: none;
  }

  .main-menu .navigation > li > ul > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }

  .main-menu .navigation > li > ul > li > ul > li:hover > a {
    background: #206dd3;
    color: #ffffff;
  }

  /* Afficher les sous-menus au survol */
  .main-menu .navigation li:hover > ul {
    display: block;
  }

  /* Indicateur de menu actif */
  .main-menu .navigation > li.current > a,
  .main-menu .navigation > li:hover > a {
    color: #206dd3;
    opacity: 1;
  }

  .main-menu .navigation > li > ul > li.current > a,
  .main-menu .navigation > li > ul > li > ul > li.current > a {
    background: #206dd3;
    color: #ffffff;
  }
</style>
<script is:inline>
  // Script pour gérer l'état actif des liens de navigation et le défilement vers les ancres
  document.addEventListener('DOMContentLoaded', function() {
    const currentPath = window.location.pathname;
    const currentHash = window.location.hash;
    const navItems = document.querySelectorAll('.navigation li a');
    
    // Fonction pour faire défiler en douceur vers les ancres
    const smoothScroll = function(targetId) {
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        const headerOffset = 100; // Hauteur de l'en-tête fixe
        const elementPosition = targetElement.getBoundingClientRect().top;
        const offsetPosition = elementPosition + window.pageYOffset - headerOffset;
        
        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth"
        });
      }
    };
    
    // Ajouter l'ID aux sections pour les ancres
    const sections = {
      "company-section": document.querySelector('.company-section'),
      "highlights-section": document.querySelector('.highlights-section'),
      "history-section": document.querySelector('.history-section'),
      "achived-section": document.querySelector('.achived-section'),
      "team-section": document.querySelector('.team-section'),
      "allServices": document.querySelector('.services'),
      "charpente-metallique": document.querySelector('.charpente-metallique'),
      "electricite-automatismes": document.querySelector('.electricite-automatismes')
     

    };
    // Mettre à jour l’URL sans rechargement
      history.pushState(null, '', `#${serviceId}`);
    // Ajouter les IDs aux sections s'ils existent
    for (const [id, section] of Object.entries(sections)) {
      if (section) section.id = id;
    }
    
    // Traitement des liens d'ancrage
    navItems.forEach(item => {
      // Vérifier si le lien a une ancre
      if (item.getAttribute('href').includes('#')) {
        item.addEventListener('click', function(e) {
          const href = this.getAttribute('href');
          
          // Si nous sommes sur la même page que l'ancre
          if (href.startsWith('#') || (currentPath === href.split('#')[0])) {
            e.preventDefault();
            const targetId = href.split('#')[1];
            smoothScroll(targetId);
            
            // Mettre à jour l'URL sans rechargement
            history.pushState(null, null, href);
          }
        });
      }
      
      // Vérifier si le lien correspond au chemin actuel
      if (item.getAttribute('href') === currentPath || 
          (currentHash && item.getAttribute('href') === currentPath + currentHash)) {
        item.parentElement.classList.add('current');
        
        // Si l'élément est dans un sous-menu, marquer également le parent
        const parentLi = item.parentElement.parentElement.parentElement;
        if (parentLi && parentLi.classList.contains('dropdown')) {
          parentLi.classList.add('current');
        }
      }
      
      // Vérifier les paramètres d'URL pour les pages de secteur
      if (currentPath.includes('services/detailServices') || currentPath.includes('products/detailProducts')) {
        const urlParams = new URLSearchParams(window.location.search);
        const sector = urlParams.get('sector');
        
        if (sector && item.getAttribute('href').includes(sector)) {
          item.parentElement.classList.add('current');
          const parentLi = item.parentElement.parentElement.parentElement;
          if (parentLi && parentLi.classList.contains('dropdown')) {
            parentLi.classList.add('current');
          }
        }
      }
    });
    
    // Si nous arrivons directement sur une page avec une ancre, faire défiler vers cette ancre
    if (currentHash) {
      setTimeout(function() {
        smoothScroll(currentHash.substring(1));
      }, 500);
    }
    
    // Script pour transformer les sous-menus en accordéon sur mobile
    if (window.innerWidth <= 991) {
      // Ajouter des boutons +/- pour les sous-menus sur mobile
      document.querySelectorAll('.navigation li.dropdown').forEach(function(item) {
        const dropdownBtn = document.createElement('div');
        dropdownBtn.className = 'dropdown-btn';
        dropdownBtn.innerHTML = '+';
        item.appendChild(dropdownBtn);
        
        dropdownBtn.addEventListener('click', function(e) {
          e.preventDefault();
          e.stopPropagation();
          
          const subMenu = this.parentElement.querySelector('ul');
          if (subMenu) {
            if (subMenu.style.display === 'block') {
              subMenu.style.display = 'none';
              this.innerHTML = '+';
            } else {
              subMenu.style.display = 'block';
              this.innerHTML = '-';
            }
          }
        });
      });
    }
  });
  
  // Gestion du header sticky
  // Ajouter cette fonction pour une animation plus professionnelle du menu sticky
window.addEventListener('scroll', function() {
  const stickyHeader = document.querySelector('.sticky-header');
  const mainHeader = document.querySelector('.main-header');
  
  if (window.innerWidth > 767) {
    if (window.pageYOffset > 150) { // Augmenter légèrement le seuil
      stickyHeader.classList.add('is-sticky');
      stickyHeader.style.display = 'block';
      stickyHeader.style.position = 'fixed';
      stickyHeader.style.top = '0';
      stickyHeader.style.left = '0';
      stickyHeader.style.right = '0';
      stickyHeader.style.zIndex = '999';
      stickyHeader.style.animation = 'fadeIn 0.4s ease-out forwards';
      
      // Ajouter une petite classe au header principal
      mainHeader.classList.add('has-sticky-active');
    } else {
      stickyHeader.classList.remove('is-sticky');
      stickyHeader.style.display = 'none';
      mainHeader.classList.remove('has-sticky-active');
    }
  }
});

// Amélioration de l'interaction des sous-menus sur desktop
if (window.innerWidth > 991) {
  document.querySelectorAll('.navigation li.dropdown').forEach(function(item) {
    item.addEventListener('mouseenter', function() {
      const subMenu = this.querySelector('ul');
      if (subMenu) {
        subMenu.style.display = 'block';
        subMenu.style.opacity = '0';
        subMenu.style.transform = 'translateY(10px)';
        
        // Forcer un reflow
        subMenu.offsetHeight;
        
        // Animer l'apparition
        subMenu.style.transition = 'opacity 0.3s ease, transform 0.3s ease';
        subMenu.style.opacity = '1';
        subMenu.style.transform = 'translateY(0)';
      }
    });
    
    item.addEventListener('mouseleave', function() {
      const subMenu = this.querySelector('ul');
      if (subMenu) {
        subMenu.style.opacity = '0';
        subMenu.style.transform = 'translateY(10px)';
        
        setTimeout(function() {
          if (!item.matches(':hover')) {
            subMenu.style.display = 'none';
          }
        }, 300);
      }
    });
  });
}
</script>