---
import { blogUtils } from "../data/blogs.js";
import { FaCalendarAlt, FaUser } from "react-icons/fa";
const featuredArticles = blogUtils.getFeaturedArticles(3);
// NewsSection.astro (Version française)
// Tableau des articles de blog adaptés à MACOBATE

---

<!--Section Actualités-->
<section class="news-section">
  <div class="auto-container">
    <div class="sec-title">
      <h2>Dernières Actualités</h2>
      <div class="separator"></div>
    </div>
    <div class="three-item-carousel owl-carousel owl-theme">
      
         {featuredArticles.map((article, index) => (
          <div class="news-block">
            <div class="inner-box">
              <h2>
                <a href={`/blog/detail?id=${article.id}`} >{article.title}</a>
              </h2>
              <div class="title">Informations</div>
              <div class="post-date">
                Par {article.author}, Le  {article.date}
              </div>
              <div class="text">{article.excerpt}</div>
              <a class="read-more" href={`/blog/detail?id=${article.id}`}>
                Lire la suite{" "}
                <span class="icon flaticon-arrow-pointing-to-right" />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!--Fin Section Actualités-->
