---
// ProjectsSection.astro - Version internationalisée
import { getTranslations } from '../../i18n/translations.js';

// Récupération de la langue depuis l'URL
const currentPath = Astro.url.pathname;
const isfrench = currentPath.startsWith('/fr');
const lang = isfrench ? 'fr' : 'en';
const t = getTranslations(lang);

// Projets avec les liens (les liens restent constants)
const projects = [
  {
    image: "/images/projects/barrages-hydrauliques.jpg",
    title: t.projects.projectsList[0].title,
    description: t.projects.projectsList[0].description,
    link: "projects/detailProjects#project-1"
  },
  {
    image: "/images/projects/stations-pompage-traitement.jpg",
    title: t.projects.projectsList[1].title,
    description: t.projects.projectsList[1].description,
    link: "projects/detailProjects#stations-pompage-traitement"
  },
  {
    image: "/images/projects/energie-renouvelable.jpg",
    title: t.projects.projectsList[2].title,
    description: t.projects.projectsList[2].description,
    link: "projects/detailProjects#energie-renouvelable"
  }
];
---

<!--Section Projets-->
<section id="projects" class="projects-section">
  <div class="auto-container">
    <div class="sec-title">
      <div class="row clearfix">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h2>{t.projects.title}</h2>
          <div class="separator"></div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="text">
                {t.projects.description}
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <a href="projects/detailProjects" class="view_all">
                {t.projects.viewAll} <span class="icon flaticon-right-arrow-1"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      {projects.map((project) => (
        <!--Bloc Projet-->
        <div class="project-block col-md-6 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image">
              <img src={project.image} alt={project.title} />
              <div class="overlay-box">
                <div class="content">
                  <h3>
                    <a href={project.link}>{project.title}</a>
                  </h3>
                  <div class="text">
                    {project.description} <span class="icon flaticon-right-arrow-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
<!--Fin Section Projets-->